body{
	margin: 20px;
	font-size: 30px;
	text-decoration: bold;
}

.title {
	text-align: center;
}

td{
    border-radius: 8px;
    height: 150px;
    width: 150px;
	border: 2px solid black;
	text-align: center;
	font-family: "Arial Black", Gadget, sans-serif;
}

.cell{
	padding: 0;
	margin: 0;
	font-size: 0;
	line-height: 0;
}

.button{
	margin-top: 50px;
	text-align: center;
}

img{
	-ms-transform: scale(0.8, 0.8);
	-webkit-transform: scale(0.8, 0.8);
	transform: scale(0.8, 0.8);
}

.play{
	text-align: center;
}

a{
	color: green;
	font-family: "Arial Black", Gadget, sans-serif;
}

.result{
	text-align: center;
}

button {
	width: 100px;
	height: 40px;
	border: 0;
	border-radius: 2px;
	background-color: #FFCCCC;
}

/*button:focus {outline:0;}*/
.board{
	float: left;
	/*
	margin-right: 10px;
	margin-left: 80px;
	*/
	position: relative;
}

h6 {
	margin-left: 22px;
}

.opponent{
	display: inline-block;
	float: left;
	/*width: 70px;*/
	width: 120px;
	
	line-height: 0;
}

.opponent img{
	transform: scale(0.5, 0.5);
	margin-top:0px;
}

.player{
	display: inline-block;
	float: left;
	position: relative;
	width: 120px;
	line-height: 0;
}

.player img {
	transform: scale(0.5, 0.5);
	margin-top: 0px;
}

.output{
	float:left;
	display: inline-block;
	margin-left: 100px;
}

textarea{
	min-height: 500px;
	width: 300px;
}

.container{
	padding: 5px;
	min-height: 650px;
	
}

.reset{
	text-align: center;
}

table{
	background-color: yellow;
	border-collapse: separate;
	border-radius: 10px;
	border-spacing: 1px;
}
